# Dart / Flutter tool state
.dart_tool/
.packages
.pub/
build/
coverage/
.toolchains/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Flutter generated
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/Generated.xcconfig
**/ephemeral/
